.container{
    text-align: center;
    margin: 60px;

}
.container h3 {
    color: #959595;
    color: linear-gradient(to right, #959595 0%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
    
    font-size: 3rem;
    font-weight: bold;

}
.container div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;

}
.container img {
    width: 300px;
    
}